body{
    background-color:black;
}
.head{
 color: cyan;
 font-size: 78px;
 position: relative;
 left: 390px;
 bottom:50px
}
.center{
    float:center;
    position: relative;
    left:44%;
    bottom: 6em;
}
.head1{
    color: deepskyblue;
    font-size: 35px;
}
.p1{
    color:rgb(74, 165, 165);
    text-decoration: black;
    font-size: 30px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p2{
    color: cyan;
    font-size: 26px;
}
.p3{
    color:rgb(74, 165, 165);
    font-size: 30px;
    font-style: italic;
}
form{
    font-size: 30px;
}
label {
    color: cyan;
}
a{
    color: cyan;
}
.ggg {
    color:aqua;
    font-family: 'EB Garamond', serif;
    font-size:1.8em;
