body{
    background-color:black
}
.head{
    color: cyan;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p1{
    color:rgb(74, 165, 165);
    text-decoration: black;
    font-size: 30px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
